:root {
	--icon-size: 64px;
	--menu-height: 55px;
	--menu-title-font-size: 36px;
	--menu-item-font-size: 16px;
	--menu-item-height: 45px;
	--menu-item-padding: 10px;
	--title-font-size: 36px;
	--header-height: 150px;
	--content-padding: 75px;
	--item-padding: 20px;
	--item-width: 210px;
	--item-height: 340px;
	--item-cover-height: 297px;
	--item-title-height: 35px;
	--item-title-font-size: 14px;
	--book-cover-width: 210px;
	--book-cover-height: 297px;
	--dir-cover-width: 200px;
	--dir-cover-height: 282px;
}

/******************************************/
/* Tablet in landscape */
@media (orientation: landscape) and (max-device-width: 1024px) {
	:root {
		--content-padding: 20px;
	}	
}

/******************************************/
/* Portrait */
@media (orientation: portrait) {
	:root {
		--content-padding: 20px;
	}
}

/******************************************/
/* Tablet in landscape */
@media (orientation: portrait) and (max-device-width: 640px) {
	:root {
		--icon-size: 128px;
		--menu-height: 110px;
		--menu-title-font-size: 72px;
		--menu-item-font-size: 32px;
		--menu-item-height: 80px;
		--menu-item-padding: 28px;
		--title-font-size: 72px;
		--header-height: 250px;
		--content-padding: 55px;
		--item-padding: 20px;
		--item-width: 420px;
		--item-height: 680px;
		--item-cover-height: 594px;
		--item-title-height: 70px;
		--item-title-font-size: 28px;
		--book-cover-width: 420px;
		--book-cover-height: 594px;
		--dir-cover-width: 400px;
		--dir-cover-height: 564px;
	}
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Ramabhadra', sans-serif;
  letter-spacing: 2px;
  color: #FFFFFF; 
}

html { 
	height: 100%; 
	padding: 0;
	margin: 0;
}

body { 
	font-family: 'Ramabhadra', sans-serif;
	letter-spacing: 1px;
	/*background-color: #000000;*/ 
	background-image: url('/images/background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	padding: 0;
	margin: 0;
}

/******************************************/
/* page structure */
#wrapper {
	display: block;
	height: auto;
	overflow: hidden;
}

/******************************************/
/* Header */
#header {
	display: block;
	position: fixed;
	float: left;
	z-index: 10;
	width: 100%;
}

/******************************************/
/* Menu */
#menu {
	height: var(--menu-height);
	display: block;
	position: relative;
	float: left;
	background-color:#3f3f3f;
	overflow: hidden;
	width: 100%;
	border-bottom: 1px solid #000000;
	vertical-align: middle;
}

#menu p {
	font-size: var(--menu-title-font-size);
	line-height: var(--menu-height);
	padding-left: var(--menu-item-padding);
	padding-right: var(--menu-item-padding);
	display: block;
	float: left;
	color: #FFFFFF;
	text-decoration: none;
	vertical-align: middle;
}

#menu a {
	font-size: var(--menu-item-font-size);
	line-height: var(--menu-item-height);
	padding-top: var(--menu-item-padding);
	padding-left: var(--menu-item-padding);
	display: block;
	float: left;
	color: #f2f2f2;
	text-decoration: none;
	vertical-align: middle;
}

/******************************************/
/* Title */
#title {
	padding-left: var(--content-padding);   
	display: block;
	float: left;
	position: relative;
	width: 100%;
	background-image: url('/images/background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#title p {
	font-size: var(--title-font-size);
}

/******************************************/
/* Content */
#content {
	padding-top: var(--header-height);  
	padding-left: var(--content-padding); 
	display: block;
	float: left;
	position: relative;
	width: 100%;
}

/******************************************/
/* gallery display */
.item {
  display: inline-block;
  padding-top: 10px;  
  padding-right: var(--item-padding);  
}

.item_content {
  width: var(--item-width);
  height: var(--item-height);
  display: block;
  position: relative;
  text-decoration: none;
}

/******************************************/
/* Dir style */
.dir_cover {
	height: var(--item-cover-height);
}

.dir_cover img {
	width: var(--dir-cover-width);
	height: var(--dir-cover-height);
	position: relative;
	display: block;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	vertical-align: center;
}

.dir_cover {
	width: var(--dir-cover-width);
	height: var(--dir-cover-height);
}

.dir_cover::before,
.dir_cover::after {
  /* Add shadow to distinguish sheets from one another */
  box-shadow: 2px 1px 1px rgba(0,0,0,0.15);
}

.dir_cover::before,
.dir_cover::after {
	width: var(--dir-cover-width);
	height: var(--dir-cover-height);
	content: "";
	position: absolute;
}

/* Second sheet of paper */
.dir_cover::before {
  left: 4px;
  top: 4px;
  z-index: -1;
  transform: rotate(-2deg);
  background-color: #866058;
}

/* Third sheet of paper */
.dir_cover::after {
  left: 8px;
  top: 8px;
  z-index: -2;
  transform: rotate(2deg);
  background-color: #664E48;
}

/******************************************/
/* Book style */
.book_cover {
	height: var(--book-cover-height);
}

.book_cover img {
	width: var(--book-cover-width);
	height: var(--book-cover-height);
	position: relative;
	display: block;
	box-shadow: 3px 3px 8px 0 rgba(0,0,0,0.9);
	border-style: solid;
	border-color: black;
	border-width: 1px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}

/******************************************/
/* Name */
.item_name {
	height: var(--item-title-height);
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.item_name a {
	width: var(--item-width);
	font-size: var(--item-title-font-size);
	display: block;
	text-align: center;
	color: #FFFFFF; 
	line-height: 110%; 
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
}

.item_name a:hover {
	text-decoration: underline;
}

#item_ui {
	top: 0;
	left: 0;
	width: var(--book-cover-width);
	height: var(--book-cover-height);
	display: none;
	position: absolute;
	background-color: rgba(63, 63, 63, 0.5);
	border-style: solid;
	border-color: orange;
	border-width: 2px;
	z-index: 5;
	cursor: pointer;
}

#item_ui img {
	width: var(--icon-size);
	height: var(--icon-size);
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: 0;
	transform: translate(-50%,-50%);
}

.linkSpanner{
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}   
