<!doctype html>
<html lang="en-US">
	<head>
	  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	  <title>{{title}}</title>
	  <meta name="author" content="Damien Walz">
	  <link href="https://fonts.googleapis.com/css?family=Ramabhadra&display=swap" rel="stylesheet">
	  <link rel="stylesheet" type="text/css" media="all" href="/css/styles.css">
	  <script type="text/javascript" charset="utf-8" src="/js/jquery-3.4.1.min.js"></script>
	  <script type="text/javascript" charset="utf-8" src="/js/jquery.lazyload.min.js"></script>
	</head>

	<body>
		<script type="text/javascript">
		//var status = setInterval(GetStatus, 1000);
		
		$(function(){
			$("img.lazy").lazyload();
		});
		
		function Update() {
			$.post("/update");
		};

		function GetStatus() {
			$.post("/status");
		};
		
		function EnterItem(item) {
			var position = item.offset()
			$('#item_link').attr("href", item.data("link"));
			$('#item_ui').css({top: position.top, left: position.left, position:'absolute'});
			$('#item_ui').show();
			$('#ui_play').animate({opacity: 0.8}, 150);			
		};

		function LeaveItem(item) {
			$('#ui_play').css({opacity: 0});			
			$('#item_ui').hide();
		};
		
		var position = $(window).scrollTop(); 
		$(window).scroll(function() {
			var scroll = $(window).scrollTop();
			if(scroll > position) {
				$('#menu').slideUp(100)
			} else {
				$('#menu').slideDown(100);
			}
			position = scroll;
		});
		</script>
		<div id="wrapper">
			<div id="header">
				<div id="menu">
					<p>StriPy</p>
					<a href="/">Home</a>
					<a href="{{previous}}">Previous</a>
					<a href="javascript:void(0)" onclick="Update()">Update</a>
				</div>
				<div id="title">
					<p>{{section}}</p>
				</div>			
			</div>
			<div id="content"> <!-- /begin #content -->
				{% for item in items %}
				<div class="item">
					<div class="item_content">
						<div class="item_cover" onmouseenter="EnterItem($(this))" data-link="{{ '/' ~ item['TYPE'] ~ '/' ~ item['ID'] }}">
							<div class="{{item['TYPE'] ~ '_cover'}}"><img class="lazy" data-original="{{ '/covers/' ~ item['COVER_ID'] ~ '.jpg' }}"/></div>
						</div>
						<div class="item_name"><a href="{{ '/' ~ item['TYPE'] ~ '/' ~ item['ID'] }}">{{ item['TITLE'] }}</a></div>
					</div>
				</div>
				{% endfor %}
			</div> <!-- /end #content -->
			<div id="item_ui" onmouseleave="LeaveItem($(this))">
				<a id="item_link">
					<span class="linkSpanner"></span>
				</a>
				<img id="ui_play" src="/images/play.png"/>
			</div>
		</div>
	</body>
</html>