<!doctype html>
<html lang="en-US">
	<head>
	  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	  <title>{{title}}</title>
	  <meta name="author" content="Damien Walz">
	  <link rel="stylesheet" type="text/css" media="all" href="/css/reader.css">
	  <link href="https://fonts.googleapis.com/css?family=Ramabhadra&display=swap" rel="stylesheet">
	  <script type="text/javascript" charset="utf-8" src="/js/jquery-1.9.1.min.js"></script>
	  <script type="text/javascript" charset="utf-8" src="/js/hammer.min.js"></script>
	</head>

	<body>
		<script type="text/javascript">
		const timeout 		= 3000;
		var hammertime		= null;
		var contextShown 	= true;
		var timeoutID 		= undefined;
		var CurrentPage 	= 0;
		var PageCount 		= {{page_count}};
		var Quality			= (Math.floor(screen.width / 1000.0) + 1) * 1000;
				
		function showContext() {
			$('#menu').fadeIn(1000);
			contextShown = true;
		}

		function hideContext() {
			$('#menu').fadeOut(1000);
			$("#wrapper").get(0).style.cursor = 'none';
			contextShown = false;
		}

		function FirstPage() {
			console.log("FirstPage()");
			if( CurrentPage != 0){
				CurrentPage = 0;
				RefreshCurrentPage();
			}
		};

		function PreviousPage() {
			console.log("PreviousPage()");
			if( CurrentPage > 0){
				CurrentPage--;
				RefreshCurrentPage();
			}
		};

		function LastPage() {
			console.log("LastPage()");
			if( CurrentPage != (PageCount - 1)){
				CurrentPage = (PageCount - 1);
				RefreshCurrentPage();
			}
		};

		function NextPage() {
			console.log("NextPage()");
			if( CurrentPage < (PageCount - 1)){
				CurrentPage++;
				RefreshCurrentPage();
			}
		};
		
		function RefreshCurrentPage() {
			var page = document.getElementById("page");
			document.getElementById("context").innerHTML = (CurrentPage + 1) + " / " + PageCount;
			page.src = "{{ comicreader_root ~ id }}" + "?page=" + CurrentPage + "&amp;width=" + Quality;
		};
		
		function ItfEvent() {
			$("#wrapper").get(0).style.cursor = 'default';
			if (!contextShown) {
				showContext();
			} else {
				window.clearTimeout(timeoutID);
			}
			timeoutID = window.setTimeout(hideContext, timeout);
		};

		function ToggleFullscreen() {
		  // if already full screen; exit
		  // else go fullscreen
		  if (
			document.fullscreenElement ||
			document.webkitFullscreenElement ||
			document.mozFullScreenElement ||
			document.msFullscreenElement
		  ) {
			if (document.exitFullscreen) {
			  document.exitFullscreen();
			} else if (document.mozCancelFullScreen) {
			  document.mozCancelFullScreen();
			} else if (document.webkitExitFullscreen) {
			  document.webkitExitFullscreen();
			} else if (document.msExitFullscreen) {
			  document.msExitFullscreen();
			}
		  } else {
			element = $('#wrapper').get(0);
			if (element.requestFullscreen) {
			  element.requestFullscreen();
			} else if (element.mozRequestFullScreen) {
			  element.mozRequestFullScreen();
			} else if (element.webkitRequestFullscreen) {
			  element.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
			} else if (element.msRequestFullscreen) {
			  element.msRequestFullscreen();
			}
		  }
		};

		window.addEventListener('wheel', function(e) {
		  if (e.deltaY < 0) {
			PreviousPage();
		  }
		  if (e.deltaY > 0) {
			NextPage();
		  }
		});
				
		$(document).ready(function() {
			$( "#content" ).mousemove(function( event ) {
				ItfEvent();
			});

			$( "#content" ).click(function( event ) {
				if( event.pageX < ($( "#content" ).width() * 0.1) ) {
					PreviousPage();
				}
				else if ( event.pageX > ($( "#content" ).width() * 0.9) ) {
					NextPage();
				}
			});

			var hammertime = new Hammer(document.getElementById('content'));
			hammertime.on('swipe', function(ev) {
				if(ev.deltaX > 0){
					PreviousPage();
				} else {
					NextPage();
				}
				console.log(ev.deltaX);
			});

			RefreshCurrentPage();
			ItfEvent();
		});
		</script>
		<div id="wrapper">
			<div id="menu">
				<div id="menu-left">
					<a href="{{ '/dir/' ~ directory_id }}">Return to library</a>
				</div>
				<div id="menu-right">
					<a href="javascript:void(0)" onclick="ToggleFullscreen()">Fullscreen</a>
					<a href="{{ '/download/' ~ id }}">Download</a>
				</div>
				<div id="menu-center">
					<a href="javascript:void(0)" onclick="FirstPage()">First page</a>
					<a href="javascript:void(0)" onclick="PreviousPage()">Previous page</a>
					<p id="context"></p>
					<a href="javascript:void(0)" onclick="NextPage()">Next page</a>
					<a href="javascript:void(0)" onclick="LastPage()">Last page</a>
				</div>
			</div>
			<div id="content">
				<img id="page" class="fit-page"/>
			</div>
		</div>
	</body>
</html>